
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

tbody{display:block; height: calc( 100vh - 200px );overflow-y:scroll;}
tr{display:block;} 
th, td{width:250px;}

td.whatever
{
    max-width: 150px;
    word-wrap: break-word;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


#main-title {
	font-family: 'Roboto', sans-serif;
	font-size : 3em;
	margin: 0.1em;
}
.double-val-label {
	display: table;
	font-family: 'Roboto', sans-serif;
	margin: 0.4em;
}
.double-val-label>span {
	background-color: #656565;
	color: #ffffff;
	display: table-cell;
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1;
	padding: .3em .6em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
    

		

}
.double-val-label .item{
	border-bottom-left-radius: 0.25em;
    border-top-left-radius: .25em;
    }
    .double-val-label .qty{
        border-bottom-right-radius: 0.25em;
		border-top-right-radius: .25em;
    }
.double-val-label>span.primary {
	background-color: #337ab7;
}
.double-val-label>span.success {
	background-color: #5cb85c;
}
.double-val-label>span.info {
	background-color: #5bc0de;
}
.double-val-label>span.warning {
	background-color: #f0ad4e;
}
.double-val-label>span.danger {
	background-color: #d9534f;
}

